## Script até aqui

In [ ]:
caminho_dados = '/content/drive/MyDrive/Curso AD/dados_viagens/2023_Viagem.csv'

In [ ]:
import pandas as pd

pd.set_option('display.max_columns', None)
df_viagens = pd.read_csv(caminho_dados, encoding='Windows-1252', sep=';')

## Operações entre duas colunas
Podemos fazer operações entre colunas - por exemplo, somar os valores das diárias e das passagens. Estas operações geram uma **coluna nova**:

In [ ]:
df_viagens[['Valor diárias', 'Valor passagens']]

       Valor diárias Valor passagens
0               0,00            0,00
1               0,00            0,00
2           39565,70         7434,13
3            1013,96            0,00
4               0,00        14903,10
...              ...             ...
825756        606,89         3331,29
825757       1089,00         1837,18
825758        734,13         4555,95
825759        319,28         3745,53
825760          0,00         2961,55

[825761 rows x 2 columns]

In [ ]:
df_viagens['Valor diárias'] + df_viagens['Valor passagens']

0                0,000,00
1                0,000,00
2         39565,707434,13
3             1013,960,00
4            0,0014903,10
               ...
825756      606,893331,29
825757     1089,001837,18
825758      734,134555,95
825759      319,283745,53
825760        0,002961,55
Length: 825761, dtype: object

A "soma" deu errado - as colunas de valores foram lidas como texto!

Este é um problema clássico de programação:

In [ ]:
soma  = 1 + 2
print(f'A soma é: {soma}')

A soma é: 3

In [ ]:
soma  = '1' + '2'
print(f'A soma é: {soma}')

A soma é: 12

## Exibindo informações sobre as colunas
O método `.info()` devolve algumas informações sobre a tabela:
- Tipo de dado de cada coluna
- Número de valores nulos de cada coluna
- Consumo de memória da tabela

In [ ]:
df_viagens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825761 entries, 0 to 825760
Data columns (total 22 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Identificador do processo de viagem  825761 non-null  int64
 1   Número da Proposta (PCDP)            825761 non-null  object
 2   Situação                             825761 non-null  object
 3   Viagem Urgente                       825761 non-null  object
 4   Justificativa Urgência Viagem        825659 non-null  object
 5   Código do órgão superior             825761 non-null  int64
 6   Nome do órgão superior               825761 non-null  object
 7   Código órgão solicitante             825761 non-null  int64
 8   Nome órgão solicitante               825761 non-null  object
 9   CPF viajante                         747834 non-null  object
 10  Nome                                 825761 non-null  object
 11  Cargo                                504786 non-null  object
 12  Função                               825761 non-null  object
 13  Descrição Função                     825749 non-null  object
 14  Período - Data de início             825761 non-null  object
 15  Período - Data de fim                825761 non-null  object
 16  Destinos                             825761 non-null  object
 17  Motivo                               825761 non-null  object
 18  Valor diárias                        825761 non-null  object
 19  Valor passagens                      825761 non-null  object
 20  Valor devolução                      825761 non-null  object
 21  Valor outros gastos                  825761 non-null  object
dtypes: int64(3), object(19)
memory usage: 138.6+ MB

Dados do tipo `object` são strings!

## Lendo colunas de valores como números

Vamos converter o tipo de dado das colunas de interesse:

In [ ]:
df_viagens['Valor diárias']

0             0,00
1             0,00
2         39565,70
3          1013,96
4             0,00
            ...
825756      606,89
825757     1089,00
825758      734,13
825759      319,28
825760        0,00
Name: Valor diárias, Length: 825761, dtype: object

Precisamos fazer os seguintes ajustes:
- Mudar as vírgulas dos números por pontos (Python trabalha com números em inglês)
- Converter o tipo de dado para números fracionados (floats)

In [ ]:
df_viagens['Valor diárias'].str.replace(',', '.')

0             0.00
1             0.00
2         39565.70
3          1013.96
4             0.00
            ...
825756      606.89
825757     1089.00
825758      734.13
825759      319.28
825760        0.00
Name: Valor diárias, Length: 825761, dtype: object

In [ ]:
df_viagens['Valor diárias'].str.replace(',', '.').astype(float)

0             0.00
1             0.00
2         39565.70
3          1013.96
4             0.00
            ...
825756      606.89
825757     1089.00
825758      734.13
825759      319.28
825760        0.00
Name: Valor diárias, Length: 825761, dtype: float64

## Modificando colunas
Agora podemos aplicar isto para todas as colunas.

Para atualizar uma coluna, basta acessá-la normalmente e usar o sinal de `=`, como se fosse uma variável:

In [ ]:
df_viagens['Valor diárias'] = df_viagens['Valor diárias'].str.replace(',', '.').astype(float)
df_viagens['Valor diárias']

In [ ]:
df_viagens['Valor passagens'] = df_viagens['Valor passagens'].str.replace(',', '.').astype(float)

In [ ]:
df_viagens['Valor devolução'] = df_viagens['Valor devolução'].str.replace(',', '.').astype(float)

In [ ]:
df_viagens['Valor outros gastos'] = df_viagens['Valor outros gastos'].str.replace(',', '.').astype(float)

In [ ]:
df_viagens.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825761 entries, 0 to 825760
Data columns (total 22 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Identificador do processo de viagem  825761 non-null  int64
 1   Número da Proposta (PCDP)            825761 non-null  object
 2   Situação                             825761 non-null  object
 3   Viagem Urgente                       825761 non-null  object
 4   Justificativa Urgência Viagem        825659 non-null  object
 5   Código do órgão superior             825761 non-null  int64
 6   Nome do órgão superior               825761 non-null  object
 7   Código órgão solicitante             825761 non-null  int64
 8   Nome órgão solicitante               825761 non-null  object
 9   CPF viajante                         747834 non-null  object
 10  Nome                                 825761 non-null  object
 11  Cargo                                504786 non-null  object
 12  Função                               825761 non-null  object
 13  Descrição Função                     825749 non-null  object
 14  Período - Data de início             825761 non-null  object
 15  Período - Data de fim                825761 non-null  object
 16  Destinos                             825761 non-null  object
 17  Motivo                               825761 non-null  object
 18  Valor diárias                        825761 non-null  float64
 19  Valor passagens                      825761 non-null  float64
 20  Valor devolução                      825761 non-null  float64
 21  Valor outros gastos                  825761 non-null  float64
dtypes: float64(4), int64(3), object(15)
memory usage: 138.6+ MB

Sucesso! E a soma ao final:

In [ ]:
df_viagens['Valor diárias'] + df_viagens['Valor passagens']

0             0.00
1             0.00
2         46999.83
3          1013.96
4         14903.10
            ...
825756     3938.18
825757     2926.18
825758     5290.08
825759     4064.81
825760     2961.55
Length: 825761, dtype: float64

## Outras operações matemáticas
Com colunas numéricas, conseguimos fazer todas as operações matemáticas básicas:

In [ ]:
df_viagens['Valor diárias'] + df_viagens['Valor passagens']

0             0.00
1             0.00
2         46999.83
3          1013.96
4         14903.10
            ...
825756     3938.18
825757     2926.18
825758     5290.08
825759     4064.81
825760     2961.55
Length: 825761, dtype: float64

In [ ]:
df_viagens['Valor diárias'] - df_viagens['Valor passagens']

0             0.00
1             0.00
2         32131.57
3          1013.96
4        -14903.10
            ...
825756    -2724.40
825757     -748.18
825758    -3821.82
825759    -3426.25
825760    -2961.55
Length: 825761, dtype: float64

Também podemos usar números para fazer a operação com uma "constante":

In [ ]:
df_viagens['Valor diárias'] * 3

0              0.00
1              0.00
2         118697.10
3           3041.88
4              0.00
            ...
825756      1820.67
825757      3267.00
825758      2202.39
825759       957.84
825760         0.00
Name: Valor diárias, Length: 825761, dtype: float64

In [ ]:
df_viagens['Valor diárias'] / 2

0             0.000
1             0.000
2         19782.850
3           506.980
4             0.000
            ...
825756      303.445
825757      544.500
825758      367.065
825759      159.640
825760        0.000
Name: Valor diárias, Length: 825761, dtype: float64